.header__container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;  
  background-color: rgb(245, 243, 243);
}

.header__logo,
.header__location,
.header__icons {
  display: inline-block;
  margin-right: 20px;
}

.header__logo {
  margin-left: 10px;
}

.header__logo img { 
  width: 100px;
}

.header__geo-icon {
  margin-right: 30px;
  height: 35px;
  width: 35px;
}

.no-underline {
  text-decoration: none;
}

.header__info {
  display: flex;
}

.header__icons {
  display: flex;
  align-items: center; /* ця властивість центруватиме іконки по вертикалі */
}

.header__insta-icon,
.header__mail-icon,
.header__phone-icon {
  height: 45px;
  width: 45px;
  margin-right: 10px;
  align-self: center;
}

.header__logo-and-nav {
  display: flex; /* Make it a flexbox container */
  align-items: center; /* Align logo and links vertically */
}

.header__location {
  font-family: 'Montserrat', sans-serif; /* Use Montserrat font */
  font-size: 22px; /* Increase font size */
  margin-right: 20px; /* Spacing between links */
  color: #333; /* Link text color */
  text-decoration: none; /* Remove default underline */
  padding: 10px 15px; /* Add some padding around the text */
  border: 1px solid transparent; /* Add a subtle border */
  border-radius: 5px; /* Round the corners of the links */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  margin-right: 0;
}

.header__nav-link:hover {
  background-color: #f2f2f2; /* Change background color on hover */
}