.header__container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;  
  background-color: rgb(245, 243, 243);
}

.header__logo,
.header__location,
.header__icons {
  display: inline-block;
  margin-right: 20px;
}

.header__logo img { 
  width: 100px;
}

.header__location {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  margin-right: 0;
}

.header__geo-icon {
  margin-right: 20px;
  height: 30px;
  width: 30px;
}

.no-underline {
  text-decoration: none;
}

.header__insta-icon,
.header__mail-icon,
.header__phone-icon, 
.header__login-icon {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
