.slick-picture {
  height: 520px;
  max-width: 400px;
  border-radius: 30px;
  object-fit: cover;
  padding: 0 15px;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

.photo-div:hover img {
  transform: scale(0.7) translateX(-100px) translateY(-100px);
}


.photo-div {
  position: relative; 
}

.info-block {
  position: absolute; /* Keep absolute positioning */
  bottom: 0;          /* Position at the bottom */
  width: 100%;        /* Set width to match container */
  padding: 10px;       /* Add some padding for aesthetics */
  margin-bottom: -10px;
  padding-top: 0;
  margin-top: 0;
  box-sizing: border-box;  /* Ensure padding is included in width */
  opacity: 0;            /* Initially hide the info blocks */
  transition: opacity 0.7s ease-in-out;  /* Smooth transition on hover */
  background-color: #f2f2f2;  /* Light grey background */
  border-radius: 15px;       /* Set smooth corners */
  line-height: 0.8;
}


.photo-div:hover .info-block {
  opacity: 1;
}


.film-details {
  display: flex; /* Вмикає режим гнучкого макета */
  margin: 20px;
}

.picture-in-description {
  float: left; /* Розміщує картинку зліва */
  margin-right: 20px; 
  height: 520px;
  max-width: 400px;
  border-radius: 30px;
  object-fit: cover;
  padding: 0 15px;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

.film-details p, .film-details h2 {
  flex: 1; /* Розподіляє вільний простір порівну */
}

.film-details__info {
  line-height: 2;
}

.film-details__description {
  line-height: 1.5;
}

/* CSS */
.film-details__button,
.film-details__session-button {
  background-color: #c8c8c8;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  margin-top: 1rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.film-details__button:hover,
.film-details__session-button {
  background-color: #1e293b;
  color: #fff;
}

.film-details__sessions ul li {
  list-style: none;
}