.slick-picture {
  height: 510px;
  max-width: 400px;
  border-radius: 30px;
  object-fit: cover;
  padding: 0 15px;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

.photo-div:hover img {
  transform: scale(0.7) translateX(-100px) translateY(-100px);
}


.photo-div {
  position: relative; 
}

.info-block {
  position: absolute; /* Keep absolute positioning */
  bottom: 0;          /* Position at the bottom */
  width: 99%;        /* Set width to match container */
  padding: 10px;       /* Add some padding for aesthetics */
  margin-bottom: -10px;
  padding-top: 0;
  margin-top: 0;
  box-sizing: border-box;  /* Ensure padding is included in width */
  opacity: 0;            /* Initially hide the info blocks */
  transition: opacity 0.7s ease-in-out;  /* Smooth transition on hover */
  background-color: #f2f2f2;  /* Light grey background */
  border-radius: 15px;       /* Set smooth corners */
  line-height: 0.8;
}


.photo-div:hover .info-block {
  opacity: 1;
}


/* CSS for FilmDetails start */
.film-details {
  display: flex; /* Вмикає режим гнучкого макета */
  margin: 20px;
}

.picture-in-description {
  float: left; /* Розміщує картинку зліва */
  margin-right: 20px; 
  height: 520px;
  max-width: 400px;
  border-radius: 30px;
  object-fit: cover;
  padding: 0 15px;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

.film-details p, .film-details h2 {
  flex: 1; /* Розподіляє вільний простір порівну */
}

.film-details__info {
  line-height: 2;
}

.film-details__description {
  line-height: 1.5;
}

.film-details__button,
.film-details__session-button {
  background-color: #c8c8c8;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  margin-top: 1rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.film-details__button:hover,
.film-details__session-button:hover {
  background-color: #1e293b;
  color: #fff;
}

.film-details__sessions ul li {
  list-style: none;
}

/* CSS for FilmDetails end */

/* CSS for BookingPage start */

.film-info-small.centered {
  text-align: center; /* Centers text within the div */
}

.curved-line {
  width: 50%; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
  background-color: #ddd; /* Adjust color */
  border-radius: 0 0 1000% 1000%; /* Creates a bottom curve */
  margin-bottom: 20px; /* Add spacing below the line */
  margin: 0 auto;
  background-image: linear-gradient(to top, #1a1c23, #8c8c8c);
}

.name-curved-line {
  text-align: center;
  font-family: 'Playfair Display', sans-serif;
  font-size: 16px;
}

.seat-selection {
  padding-top: 40px;
}

.seat-row {
  display: flex;
  justify-content: center; 
  margin-bottom: 10px;
}

.seat {
  width: 40px;
  height: 40px;
  margin: 5px; /* Простір між місцями */
  background-color: lightgray; /* Звичайний колір */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.seat.selected {
  background-color: green; /* Колір для вибраних місць */
}

.seat.occupied {
  background-color: rgb(200, 0, 0);
  cursor: not-allowed;
}

.seat.available {
  transition: transform 0.3s ease; /* Застосування плавної трансформації */
}

.seat.available:hover {
  transform: scale(1.1);
}

.seat .fa-chair {
  font-size: 1.5em; /* Розмір іконки */
}

/* ModalStyles.css start */
/* Modal overlay styling */
.react-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal content styling */
.react-modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.modal-text-info {
  text-align: center;
}

/* Input fields styling */
.input {
  margin-bottom: 12px;
}

.input__field {
  width: 95%;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  transition: border-color 0.4s ease;
  margin-top: 5px;
}

.input__field:focus {
  border-color: #6366f1;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(99, 102, 241, 0.2);
  outline: none;
}

.input__field::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.button-group:disabled {
  background-color: #ccc; /* Світліший колір */
  cursor: not-allowed; /* Курсор для відключеної кнопки */
}


/* Button styling */
.button-group {
  display: inline-block;
  padding: 10px 20px;
  background: #808080;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: rgba(0, 0, 0, 0.6) 0.2s ease;
}

/* Hover effect for buttons */
.button-group:not(:disabled):hover {
  background: #696969; /* Darken by about 10% */
}


.book-button {
  background-color: #c8c8c8;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  margin-top: 1rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.book-button:hover {
  background-color: #1e293b;
  color: #fff;
}

.button-container,
.chosen-place-container {
  display: flex;
  justify-content: center;
  font-family: 'Playfair Display', sans-serif;
}

.error-message {
  color: red;
}
/* ModalStyles.css end*/
/* CSS for BookingPage end */